@import "~react-image-gallery/styles/css/image-gallery.css";


p {
  color:rgb(11, 132, 132);
}
.faqs {
  padding-left: 20px;
  padding-top: 50px;
  font-size: x-large;
}
body {
  background-color: rgba(85, 128, 153, 0.621);
  background: rgb(88,11,230);
  background: radial-gradient(circle, rgba(88,11,230,0.526581579897584) 26%, rgba(140,70,252,1) 63%);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(146, 99, 143);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(221, 167, 231);
  color: rgb(11, 10, 11);
}
